
<form #Form="ngForm" >
  <div class="container">
    <h1 class="text-center CalculateYourCalories" >Calculate Your Calories</h1>
  <div class="col-sm-12">
    <div class="row">
      <label class="form-check-label col-sm-2 ">
        Gender:
      </label>
  <div class="form-check col-sm-4 ">
    <input class="form-check-input" [(ngModel)]="gender" type="radio" name="exampleRadios2" id="exampleRadios1" value="male" checked>
    <label class="form-check-label" for="exampleRadios1">
      Male
    </label>
  </div>
  <div class="form-check col-sm-4 ">
    <input class="form-check-input" [(ngModel)]="gender" type="radio" name="exampleRadios1" id="exampleRadios2" value="female" checked>
    <label class="form-check-label" for="exampleRadios2">
    Female    
  </label>
  </div>
</div>
</div>
    
    <div class="form-group">
      <input type="text" required class="form-control" id="inputAddress" name="age" [(ngModel)]="age" #agee="ngModel" placeholder="Age">
      <div *ngIf="agee.invalid && (agee.dirty || agee.touched)"
      class="alert alert-danger">
  <div *ngIf="agee.errors.required">
    Required 
  </div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" required class="form-control" id="inputAddress2" name="weight" #weightt="ngModel" [(ngModel)]="weight" placeholder="Weight By kg">
      <div *ngIf="weightt.invalid && (weightt.dirty || weightt.touched)"
      class="alert alert-danger">
      <div *ngIf="weightt.errors.required">
        Required 
      </div>
      </div>
      
    </div>
    <div class="form-group">
        <input type="text" required class="form-control" id="inputAddress2" name="height" #heightt="ngModel" [(ngModel)]="height" placeholder="Height">
        <div *ngIf="heightt.invalid && (heightt.dirty || heightt.touched)"
      class="alert alert-danger">
      <div *ngIf="heightt.errors.required">
        Required 
      </div>
      </div>
      </div>

    <div class="form-row">
    
      <div class="form-group col-md-12 ">
          <div class="row">
        <label for="inputState Activity" class="col-md-3">Choose Your Activity:</label>
        <select  id="inputStatee" class="form-control col-md-8 "  name="dayss"  [(ngModel)]="NumDaysExercise">
          <option disabled>Choose...</option>
          <option value="low">Exercise 1 to 3 Days A Week</option>
          <option value="medium">Exercise 3 to 5 Days A Week</option>
          <option value="heigh">Exercise 5 to 7 Days A Week</option>
        </select>
       </div>
      </div>
      <div class="form-group col-md-12 ">
        <div class="row">
      <label for="inputState Activity" class="col-md-3">Your Goal : </label>
      <select  id="inputState" class="form-control col-md-8 "  name="days"  [(ngModel)]="goal">
        <option disabled>Choose...</option>
        <option value="fastgain">Gain Weight Fast</option>
        <option value="lowgain">Gain Weight Low</option>
        <option value="stability">Stability On Weight</option>
        <option value="lowloss">Loss Weight Low</option>
        <option value="fastloss">Loss Weight Fast</option>
      </select>
     </div>
    </div>
     
    </div>
    <div class="text-center">
   
    <button type="submit" (click)="ClaculateCalories()" class="btn cal" [disabled]="!Form.valid" >Calculate</button>
  </div>
  </div>
  </form>
  <!-- <div class="row" *ngIf="show==true" >
  <div class="result" *ngIf="show==true">Your Calories:  {{this.FinalResultForCal}}</div>
  <button class="BtnDiet form-control " (click)="GoDiet()"> Go to Make Your Diet</button>
</div> -->

 