:root{
    
    --maincolor: var(--maincolor);
} 
.col-12{margin: 0.5% 0;}
label{font-weight: bold;}
form{
    width: 100%;
    margin-top: 4%;
    padding: 4% 12%;
    overflow: hidden;
    .container{
        background: #f3f3f3;
        border-radius: 30px;
        padding: 4%;
        h1{
            margin-bottom: 6%;
            margin-top: 0;
            color:var(--maincolor);
        }
        .form-check,.form-group{
            padding-bottom: 2%;
    
        }
        .Activity{
            font-size: 16px;
        }
        .cal{
            background-color:var(--maincolor); 
            color: white;
            width: 55%;
            padding: 1.3%;
        }
       
    }
}
.result{
    font-size: 35px;
    color: var(--maincolor);
    margin-top: 4%;
    margin-left: 20%;
}
.BtnDiet{
    background-color: var(--maincolor);
    margin-top: 4.5%;
    color: white;
    margin-left: 5%;
    width: 25%;
}

@media only screen and (min-width: 1200px)
{


}
@media only screen and (min-width: 992px) and (max-width: 1199px)
{
    

}
@media only screen and (min-width: 768px) and (max-width: 991px)
{
    form
    {
        margin-top: 12% !important;

    }
  


}
@media only screen and (max-width: 767px) 
{
    form
    {
        margin-top: 20% !important;
        padding: 4% 1%;
        .container
        {
            padding-left:35px !important ;
            padding-right:35px !important ;
            .col-sm-4,.col-sm-2
            {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;

            }
        }

    }
 

}
@media only screen and (max-width: 499px) 
{
    form
    {
        margin-top: 20% !important;
        .container
        {
         .CalculateYourCalories
         {
             font-size: 1.7em;
         }
        }

    }
 

}