
<!-- <section class="setting">
  <i class="fa fa-cog fa-2x cog-setting " (click)="toggle()"  ></i>
<div class="colorBox" *ngIf="!isActive">
  <h6>Choose Color</h6>
  <ul class="list-unstyled switch-colors ">
    <li class="blue"  (click)="ChangeColorSite('rgb(85, 185, 244)')" ></li>
    <li class="red"(click)="ChangeColorSite('rgb(204, 64, 74)')" ></li>
    <li class="green" (click)="ChangeColorSite('rgb(99, 197, 88)')"></li>
    <li class="defult" (click)="ChangeColorSite('rgb(227, 108, 81)')" ></li>
   

  </ul>
</div>
</section> -->
<article style="overflow: hidden;">

  <div id="carouselExampleIndicators" class="carousel slide carousel-fade"  data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" (click)="callanimate()"  class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" (click)="callanimate()" ></li>
   
    </ol>

    <div class="carousel-inner ">
        <div  class="carousel-item  active">
          
            <img  class="d-block w-100 " src="assets/caursal1.jpg" alt="First slide">
        
            <div class="carousel-caption  d-md-block CoverPhoto ">
              <!-- <h1>
                BE <span class="FitLogo" >FIT </span>
              </h1> -->
                <div class="PositionCaption">

                <h4  class="wow fadeInLeft" data-wow-duration="2s" ><span>|</span> ARE YOU READY TO</h4>
                <h1 class="GitFitStrong wow fadeInLeft"data-wow-duration="3s" data-wow-delay="1s"><span>GET FIT</span>, STRONG</h1>
                <h1 class="wow fadeInLeft" data-wow-duration="4s" data-wow-delay="1s" >& MOTIVATED!</h1>
            </div>
            <!-- <button class="btn btn-lg  wow fadeIn " data-wow-duration="1s" data-wow-delay="2s" type="button" data-toggle="modal" data-target="#myModal2" type="submit">Log In</button> -->
            </div>
        </div>
        <div class="carousel-item ">
          
             <img class="d-block w-100  " src="assets/FittMan.jpg" alt="Second slide">
           
            <div class="carousel-caption  d-md-block CoverPhoto ">
              <h1>
                BE <span class="FitLogo" >FIT </span>
              </h1>
                <div class="PositionCaption">
              <h3 class="wow fadeInLeft" data-wow-duration="2s" ><span>|</span> LOOKING FOR</h3>
              <h1 class="wow fadeInLeft mediapersonaltrainer" data-wow-duration="4s">PERSONAL <span>TRAINER?</span></h1>
              <p class="wow fadeInLeft" data-wow-duration="5s" data-wow-delay="1s">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,<br>                              
                   ,totam rem aperiam, eaque ipsa quae ab illo </p>
          </div>
        </div>
        </div>
    
   
  
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" (click)="callanimate()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" (click)="callanimate()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section class="AboutUs">
  <div class="container">
    <h1 class="text-center">
      About Us
    </h1>
    <p class="lead ParaAboutUs text-center" >We Will Help You To Be Fit By Calculate The 
      Calories Your Body<br> Needs And Make
      A Diet For A Good Body<br> And Exercise  Regimen Depending 
      On The Goal You Want To Reachy You Should<br> Start
       Now To Realization Of Goal And Maintain Your Health
    </p>
    <img class="signature responsive-img" src="assets/signature2.jpg" alt="signature">

  </div>

</section>

<section class="sectionTrainer ">
  <div class="container">
  <h2 class="title" >Questions / Comments: </h2>
  <div class="newPost">

<div class="forumDivOuter" >
  <div id="forumDiv">
    <div class="row">
    <img *ngIf="this.CheckLog == true" src="{{imguser}}" alt="No Photo">
    <img *ngIf="this.CheckLog == false" src="assets/user.jpg" alt="No Photo">
    <textarea class="autoExpand forumPost form-control" name="comments"
     [(ngModel)]="comment" rows="4" data-min-rows="4" 
    placeholder="Enter your message here"
     style="margin-top: 0px; margin-bottom: 0px; height: 94px; ">
    </textarea>
  </div>
    <br>
    <button (click)="addComment()" class="forumPostButton btn btn-default form-control" [disabled]="this.CheckLog == false" >Post</button>
    <div class="allcomment">
    <div class="comments " style="margin-top: 3%; padding-bottom: 2%;" *ngFor="let item of datacomments; let i=index">
      <div class="row">
        
          <img class="imgcomment" src="{{item.photo}}" alt="No Photo">
          
        
        <div style="margin-top: -3px;
        background: rgba(236, 234, 234, 0.77);
        padding: 10px;
        border-radius: 5%;
        margin-bottom: 3%;
        margin-left: 7px;">
          <h6 > 
            {{item.name}}
          </h6>
          
          <p style="margin-left: 2px;
          margin-top: 0px;
          font-size: 15px;
          opacity: 0.8;
          margin-bottom: 0px">
            {{item.comment}}
          </p>
          
          
          
        </div>
     

      </div>
      <div class="row">
      <h6 class="mediadate" style="margin-left: 12%;
      margin-top: -21px;
      opacity: 0.5;
      font-size: 0.8rem;"> 
      {{item.date.num}}{{item.date.char}}
      </h6>
      <span class="mediareplay"   style="margin-top: -26px;
      margin-left: 24px;
      font-size: 15px; color:var(--maincolor); cursor: pointer;" (click)="showreply(i)">Reply</span>
          <i style="margin-left: 2%;
          margin-top: -2%;" *ngIf="item.mail==MailtoDeleteComment" (click)="DeleteComment(item.id)" class="fa fa-trash" aria-hidden="true"></i>

    </div>
      <div class="row mediareply2" style="display: none;" #boxes>
        <img style="width: 40px;
        height: 40px; margin-left: 4%;" src="{{imguser}}" alt="No Img">
        <div class="mediabox" style="border: 1px solid rgba(0, 0, 0, 0.5);
        overflow: hidden;
        width: 50%;
        margin-left: 10%;
        margin-bottom: 1%;
        height: 110px;
        margin-top: -36px;">
          <input style="height: 54px; width: 100%;" [(ngModel)]="replycommentadd" placeholder=" Reply On @{{item.name}}">
  
      
          <div class="row" style="background:rgb(242, 243, 244); margin-top: -9px;
          padding-top: 17px;
          padding-bottom: 25px;
          
          ">
            <button class="form-control mediabtncancel" style="margin-left: 53%;
            margin-right: 2%; width: 20%;" (click)="showreply(i)">
              Cancel
  
            </button>
            <button  (click)="addreplay(item.id,item.name)" class="form-control mediabtnreply" style="width: 20%; background: var(--maincolor); color: white;" >
              Reply
  
            </button>
          </div>
        </div>

      </div>
      <span *ngIf="item.reply.length!=0" style="opacity: 0.7;
      font-size: 14px;
      margin-left: 2%;
      margin-bottom: 2%;" class="Showreply" type="button" data-toggle="collapse" [attr.data-target]="'#collapseExample' + i" aria-expanded="false" aria-controls="collapseExample">
        Show reply ({{item.reply.length}}) on {{item.name}}
      </span>
      <div class="collapse" id="collapseExample{{i}}">
      <div *ngIf="item.reply.length!=0" >
      <div *ngFor="let item2 of item.reply; let y=index">
      <div class="row" >
        
        <img class="imgreply" style="width: 40px;
        height: 40px; margin-left: 5%;" src="{{item2.photo}}" alt="No Photo" >
        
      
      <div style="margin-top: -3px;
      background: rgba(236, 234, 234, 0.77);
      padding: 10px;
      border-radius: 5%;
      margin-bottom: 2%;
      margin-left: 7px;">
        <h6 style="font-size: 15px;"> 
          {{item2.name}}
        </h6>
        
        <p style="margin-left: 2px;
        margin-top: 0px;
        font-size: 12px;
        opacity: 0.7;
        margin-bottom: 0px">
          {{item2.reply}}
        </p>
        
        
        
      </div>
   

    </div>
    <div class="row">
    <h6 class="mediadate" style="margin-left: 12%;
    margin-top: -15px;
    opacity: 0.5;
    font-size: 0.8rem;"> 
      {{item2.date2.num}}{{item2.date2.char}}
    </h6>
    <span class="mediareplay" style=" color:var(--maincolor); cursor: pointer;font-size: 14px;margin-top: -19px;
    margin-left: 20px;" (click)="showreply2(y)">Reply</span>
  </div>


    <div class="row mediareply2"   style="display: none;"  #boxes1>
      <img style="width: 40px;
      height: 40px; margin-left: 5%;" src="{{item2.photo}}" alt="No Img">
      <div class="mediabox2" style="border: 1px solid rgba(0, 0, 0, 0.5);overflow: hidden; width: 50%; margin-left: 11%;
      margin-bottom: 1%; height: 110px; margin-top: -34px;">
        <input style="height: 54px; width: 100%;"[(ngModel)]="replycommentadd" placeholder=" Reply On @{{item2.name}}">

    
        <div class="row" style="background:rgb(242, 243, 244); margin-top: -9px;
        padding-top: 17px;
        padding-bottom: 25px;">
          <button class="form-control mediabtncancel" style="margin-left: 53%;
          margin-right: 2%; width: 20%;"  (click)="showreply2(y)" >
            Cancel

          </button>
          <button (click)="addreplay(item.id,item2.name)"  class="form-control mediabtnreply" style="width: 20%; background: var(--maincolor); color: white;" >
            Reply

          </button>
        </div>
      </div>

    </div>
  </div>
</div>
      
</div>
    

    </div>
  </div>
    </div>
  </div>
 </div>
</div>
</section>

<form #loginForm="ngForm">
  <div class="container" >
    
      <!-- Modal -->
      <div class="modal fade" id="myModal2" role="dialog" >
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h3>Log In</h3>
              <button type="button" class="close"  data-dismiss="modal">&times;</button>
              
             
            </div>
            <div class="modal-body">
              

              <section class="ContactUs">
                <div class="DarkFrame">
                <div class="container">
                <div class="text-center" >
                 
                    <i class="fa fa-user-o fa-3x  text-center" ></i>
                  </div>
                  
            
                  <form role="form-inline">
                    <div class="container">
                    <div class="row">
                    
                      <input class="form-control inputcontact wow bounceInLeft" name="mail" [(ngModel)]="email" type="text" placeholder="E-mail"  data-wow-duration="2s" data-wow-offset="200" >
                      <input class="form-control input-lg inputcontact  wow bounceInLeft" name="password" [(ngModel)]="pass" data-wow-duration="3s" data-wow-offset="200"  type="text" placeholder="Pass">
                  
                    
                     
                  </div>
                  </div>
                  </form>
                </div>
              </div>
              </section>
           
             
  
              
              
            </div>
           
             
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
              <button type="submit" class="btn btn-default BtnAddFoodModel"   [disabled]="!loginForm.valid" data-dismiss="modal"  >Log</button>
            </div>
          </div>
          
        </div>
      </div>
  
    </div>
  
  </form>



</article>


			
 

