:root{
    --maincolorNav: var(--maincolorNav);
}


#navbar{
    top: 0px;
    background:rgb(38, 38, 38) ;
    height: 70px;
   
    border-top: 1px solid rgba(255,255,255,.1)!important;
    border-bottom: 1px solid rgba(255,255,255,.1)!important;
    padding-left:7%;
    padding-right:7%;
    .nav-item
    {
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
       
        .nav-link
        {
            color: white !important;
            &:hover
            {
                color: var(--maincolor) !important;

            }

        }
    }
    .login
    {
       background-color: var(--maincolor);
       color: white;
       border: none;
       width: 115px;
     }
   

   
    
}
.setting{
    margin-top: 200px;
    position: fixed;
    color: var(--maincolor) ;
    z-index: 99998;
    .colorBox{
        background: rgb(60, 60, 60) ;
        
        width: 150px;
        height: 80px;
        float: left;
        padding-top: 18px; 
        ul{
            li {
                width: 15px ;
                height: 15px;
                display: inline-block;
                margin-left: 5px;
            }
            .h6{
                margin-left: 5px;
               color: white;
            }
            .red{
                background: rgb(204, 64, 74);
            }
            .blue{
                background: rgb(85, 185, 244);
            }
            .green{
                background: rgb(99, 197, 88);
            }
            .defult{
                background:rgb(227, 108, 81)  ;
            }
        }
    
    }  
    
    
}
#ScrollUp{
    background:var(--maincolor) ;
    z-index: 99999;
    width: 50px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    display: none;
}
.modal-content{
    .modal-header{
        h3{
            color: var(--maincolor);

        }
        
    }
    .modal-body{
        padding-bottom: 20px;
        input{
            margin-bottom: 20px;

        }
        .fa-user-o {
            color: var(--maincolor);
            margin-bottom: 25px;
        }
    }
    .modal-footer{
        button{
            color: var(--maincolor);
        }
    }
}
.forgetPass,.Create{
    color: var(--maincolor);
}
.Create{
    margin-left: 3%;
}

.forgetPass{
    margin-left: 42%;
}
.profilephoto{
    
        border-radius: 50%;
        // background: url('src/assets/user.jpg') ;
        background-size: 100% 100%;
        height: 40px;
        width: 40px;
    
}
.progress{
    margin-bottom: 10%; 

    margin-top: 12%; 
    width: 100%;
}
.btn-success{
    height: 5%;
}
.navbar-brand {
    font-family: "Raleway";
    // margin-left: -122px;
    color: white;
    font-size: 28px;
.FitLogo{
    color: var(--maincolor);
}
}
footer{
    background-color: #262626;
    height: auto;
    h3{
        color: #fff;
        font-size: 25px;
        margin-top: 10%;
        margin-bottom: 11%;
    }
    .contacts{
        margin-top: 6%;
        
        color: #fff;
        
        div{
            margin-bottom: 6%;
            i{
                margin-right: 10%;
            }
        }
    }

.RecentPosts{
    margin-top: 5%;
    
    
    .FristPost{
        margin-left: 20px;
        padding-bottom: 15px;
        
        border-bottom: 1px solid rgba(255,255,255,.1)!important;
        .photo{
            border-radius: 50%;
            background: url('src/assets/FristPost.jpg') ;
            background-size: 100% 100%;
            height: 75px;
            width: 75px;
        
        }
        

            .Name{
                margin-top: 10px;
                margin-left:20px;
                color: white;
            }
      
    }
    .SecondPost{
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255,255,255,.1)!important;
        margin-left: 20px;
        padding-top: 15px;
        .photo{
            border-radius: 50%;
            background: url('src/assets/SecondPost.jpg') ;
            background-size: 100% 100%;
            height: 75px;
            width: 75px;
        
        }
        

            .Name{
                margin-top: 10px;
                margin-left:20px;
                color: white;
            }
      
    }
    .ThirdPost{
        padding-top: 15px;
        margin-left: 20px;
        .photo{
            border-radius: 50%;
            background: url('src/assets/ThirdPost.jpg') ;
            background-size: 100% 100%;
            height: 75px;
            width: 75px;
        
        }
        

            .Name{
                margin-top: 10px;
                margin-left:20px;
                color: white;
            }
      
    }
}
   .LatestProjects{
    margin-top: 5%;
   
       .one{
        background: url('src/assets/1.jpg') ;
        background-size: 100% 100%;
        height: 85px;
        width: 85px;
        margin-left: 5%;
       }
       .two{
        background: url('src/assets/2.jpg') ;
        background-size: 100% 100%;
        height: 85px;
        width: 85px;
        margin-left: 5%
       }
       .three{
        background: url('src/assets/3.jpg') ;
        background-size: 100% 100%;
        height: 85px;
        width: 85px;
        margin-left: 5%;
       }
       .four{
        background: url('src/assets/4.jpg') ;
        background-size: 100% 100%;
        height: 85px;
        width: 85px;
        margin-left: 5%;
        margin-top: 5%;


       }
       .five{
        background: url('src/assets/5.jpg') ;
        background-size: 100% 100%;
        height: 85px;
        width: 85px;
        margin-left: 5%;
        margin-top: 5%;
       }
       .six{
        background: url('src/assets/6.jpg') ;
        background-size: 100% 100%;
        height: 85px;
        width: 85px;
        margin-left: 5%;
        margin-top: 5%;
       }
       .seven{
        background: url('src/assets/7.jpg') ;
        background-size: 100% 100%;
        height: 85px;
        width: 85px;
        margin-left: 5%;
        margin-top: 5%;


       }
       .eight{
        background: url('src/assets/8.jpg') ;
        background-size: 100% 100%;
        height: 85px;
        width: 85px;
        margin-left: 5%;
        margin-top: 5%;
       }
       .nine{
        background: url('src/assets/9.jpg') ;
        background-size: 100% 100%;
        height: 85px;
        width: 85px;
        margin-left: 5%;
        margin-top: 5%;
       }
   }
   .copyright{
        background: #222;
        color: white;
        min-width: 100%;
        height: 47px;
        padding-top: 10px;
        bottom: 0px;
        margin-top: 3%;
        .Fit{
            color: var(--maincolor);
        }
}
   
}   

@media only screen and (min-width: 1200px)
{
    #navbar
    {
        .navbar-collapse
    {
        position: relative;
        .navbar-collapse
        {
            position: absolute;
        }
        .navbar-nav-ul
        {
            position: absolute;
            left: 22%;

        }
        .navbar-nav-form
        {
            position: absolute;
            right: 15px;

        }
    }
      

    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px)
{
    #navbar
    {
        .navbar-collapse
        {
            position: relative;
            .navbar-collapse
            {
                position: absolute;
            }
            .navbar-nav-ul
            {
                position: absolute;
                left: 8%;
    
            }
            .navbar-nav-form
            {
                position: absolute;
                right: 15px;
    
            }
        }
     

    }

}
@media only screen and (min-width: 768px) and (max-width: 991px)
{
    #navbar
    {
        .navbar-collapse
        {
            padding-left: 0%;
            background:rgb(38, 38, 38 , 0.5) !important;
            

        }

    }

}
@media only screen and (max-width: 767px) 
{
    #navbar
    {
      .login
      {
          width: 100%;
      }
      .navbar-collapse
        {
            background:rgb(38, 38, 38 , 0.5) !important;
           

        }
  
    }
    #LoginModel
    {
        a
        {
            margin-left: 0%;
            width: 100%;
            font-size: 1.2rem;
            text-align: center;
        }
    }
    #Signin
    {

        position: absolute;
        height: 731px;
    }
 

}
@media only screen and (max-width: 499px) 
{
    footer{

        .LatestProjects
        {
            .one
            {
             height: 75px !important;
             width: 80px !important;
             margin-left: 2% !important;
             margin-top: 2% !important;
            }
            .two
            {
             height: 75px !important;
             width: 80px !important;
             margin-left: 2% !important;
             margin-top: 2% !important;
            }
            .three
            {
             height: 75px !important;
             width: 80px !important;
             margin-left: 2% !important;
             margin-top: 2% !important;
            }
            .four
            {
             height: 75px !important;
             width: 80px !important;
             margin-left: 2% !important;
             margin-top: 2% !important;
            }
            .five
            {
             height: 75px !important;
             width: 80px !important;
             margin-left: 2% !important;
             margin-top: 2% !important;
            }
            .six
            {
             height: 75px !important;
             width: 80px !important;
             margin-left: 2% !important;
             margin-top: 2% !important;
            }
            .seven
            {
             height: 75px !important;
             width: 80px !important;
             margin-left: 2% !important;
             margin-top: 2% !important;
            }
            .eight
            {
             height: 75px !important;
             width: 80px!important;
             margin-left: 3% !important;
             margin-top: 2% !important;
            }
            .nine
            {
             height: 80px!important;
             width: 80px !important;
             margin-left: 2% !important;
             margin-top: 2% !important;
            }
        }
    
    }   
    

}


