<ngx-spinner style=" z-index: 999999;" bdColor = "rgba(0,0,0,0.9)" size = "large" color = "#e36c51" type = "square-jelly-box" [fullScreen] = "true"><p style="color: #e36c51; font-size: 20px;" > Loading... </p></ngx-spinner>
<!-- <section class="setting">
    <i class="fa fa-cog fa-2x cog-setting " (click)="toggle()"  ></i>
  <div class="colorBox" *ngIf="!isActive">
    <h6>Choose Color</h6>
    <ul class="list-unstyled switch-colors ">
      <li class="blue"  (click)="ChangeColorSite('rgb(85, 185, 244)')" ></li>
      <li class="red"(click)="ChangeColorSite('rgb(204, 64, 74)')" ></li>
      <li class="green" (click)="ChangeColorSite('rgb(99, 197, 88)')"></li>
      <li class="defult" (click)="ChangeColorSite('rgb(227, 108, 81)')" ></li>
     
  
    </ul>
  </div>
  </section> -->

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="navbar" >
    
    <a class="navbar-brand " [routerLink]="['']">BE <span class="FitLogo" >FIT </span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" style=" padding-left:1% ;" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-ul mr-auto">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/foods']">Foods</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['/exrcise']">Exercise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/calories']">Calories</a>
          
        </li>
      </ul>
      <form class="form-inline navbar-nav-form  my-2 my-lg-0" *ngIf="CheckLog == true">
        <img class="profilephoto"  src="{{UserUrl}}" alt="" *ngIf="CheckLog == true && UserUrl != null">

          <a style="outline: none; position:relative; color: white; font-size: 20px;" class="nav-link dropdown-toggle username" href="#" id="navbarDropdown username" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{Username}}
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           
            <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
            
            <a class="dropdown-item" (click)="logout()" >LogOut</a>
          </div>
          </a>
     
      </form>
      <form class="form-inline navbar-nav-form my-2 my-lg-0" *ngIf="CheckLog == false">
        <button class="btn login my-2 my-sm-0 form-control "  id="logshow" data-toggle="modal" data-target="#LoginModel" type="submit" >LogIn</button>

      </form>
    </div>
  </nav>

<router-outlet></router-outlet>
<footer id="footer" style="margin-top:5% ; position: relative;">
  <div class="container">
      <div class="col-12 ">
        <div class="row">
        <div class="col-lg-4  col-sm-12 contacts ">
          <h3 >Contacts</h3>
          <div>
            <i class="fa fa-map" aria-hidden="true"></i>
            Egypt,Menofia,Shebin-Elkom		
          </div>
          <div>
            <i class="fa fa-phone" aria-hidden="true"></i>
            01556044585
            </div>
          <div>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            mohmedmagdykh@gmail.com		
          </div>
          <div>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            Mon.-Fri.: 10-20 Sun.: 12-16		
          </div>
          

        </div>
        <div class="col-lg-4  col-sm-12 RecentPosts">
          <h3 >Recent Posts</h3>
          <div class="FristPost">
              <div class="row">
                  <div class="photo"></div>
                  <span class="Name">Jack Necolase<br>Gym</span>
             </div>
          </div>
          <div class="SecondPost">
            <div class="row">
                <div class="photo"></div>
                <span class="Name">Tom kroze<br>Traviling</span>
           </div>
        </div>
        <div class="ThirdPost">
          <div class="row">
              <div class="photo"></div>
              <span class="Name">Jason Statem<br>Driving</span>
         </div>
      </div>
           
        </div>
        <div class="col-lg-4  col-sm-12 LatestProjects ">
          <h3 >Latest Projects</h3>
          <div class="col-lg-12 ">
            <div class="row">
              <div class="col-lg-3 one">
                
                </div>
                
                <div class="col-lg-3 two">
                
                </div>
                
                <div class="col-lg-3 three">
                
                </div>
                
                

            </div>

          </div>
          <div class="col-lg-12 ">
            <div class="row">
              <div class="col-lg-3 four">
                
                </div>
                
                <div class="col-lg-3 five">
                
                </div>
                
                <div class="col-lg-3 six">
                
                </div>
                
                

            </div>

          </div>
          <div class="col-lg-12 ">
            <div class="row">
              <div class="col-lg-3 seven">
                
                </div>
                
                <div class="col-lg-3 eight">
                
                </div>
                
                <div class="col-lg-3 nine">
                
                </div>
                
                

            </div>

          </div>



        </div>

      </div>
    </div>
  </div>
  <div class="copyright text-center">
    Copyright &copy; 2020  Be <span class="Fit">Fit</span> .inc
  
  </div>
</footer>

<div id="ScrollUp" (click)="ScrollUp()" >
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div>
  <form #loginForm="ngForm">
    <div class="container" >
      
        <!-- Modal Log In  -->
        <div class="modal fade" id="LoginModel" role="dialog" >
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h3>Log In</h3>
                <button type="button" class="close"  data-dismiss="modal">&times;</button>
                
               
              </div>
              <div class="modal-body">
                
  
                <section class="ContactUs">
                  <div class="DarkFrame">
                  <div class="container">
                  <div class="text-center" >
                   
                      <i class="fa fa-user-o fa-3x  text-center" ></i>
                    </div>
                    
              
                    <form role="form-inline">
                      <div class="container">
                      <div class="row">
                      
                        <input class="form-control inputcontact " name="mail" [(ngModel)]="email" type="text" placeholder="E-mail" required email="true" #mail="ngModel" >
                        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                        class="alert alert-danger">
                            <div *ngIf="mail.errors.required || !loginForm.valid" >
                              Required E-mail.
                            </div>
                            <div *ngIf="mail.errors?.email">
                              Please Provide A Valid Email Address.
                            </div>
                            <!-- <div *ngIf="mail.errors.email">
                              E-mail Invalid
                            </div> -->
                         </div>
                        <input class="form-control inputcontact" name="password" [(ngModel)]="pass" id="passwordlogin"  minlength="6"  type="password" placeholder="Password" required  #password="ngModel">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                        class="alert alert-danger">
                            <div *ngIf="password.errors.required">
                              Required Password.
                            </div>
                            <div *ngIf="password.errors.minlength">
                              Paswword Weak.
                            </div>
                         </div>
                         <a class="Create"  data-toggle="modal" data-target="#Signin" data-dismiss="modal" >Create E-mail</a>
                      <a class="forgetPass" data-toggle="modal" data-target="#ConfirmEmail" data-dismiss="modal" > Forget Password ?</a>
                    </div>
                    </div>
                    </form>
                  </div>
                </div>
                </section>
             
               
    
                
                
              </div>
             
               
              <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal" >Close</button>
                <button type="submit" class="btn btn-default BtnAddFoodModel" [disabled]="password.invalid || mail.invalid" (click)="LogIn()" >Log</button>
              </div>
            </div>
            
          </div>
        </div>
    
      </div>
    
    </form>
    <form #ConfirmEmail="ngForm">
      <div class="container" >
        
          <!-- Modal ForgetPassword -->
          <div class="modal fade" id="ConfirmEmail" role="dialog" >
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Forget Password</h3>
                  <button type="button" class="close"  data-dismiss="modal">&times;</button>
                  
                 
                </div>
                <div class="modal-body">
                  
    
                  <section class="ContactUs">
                    <div class="DarkFrame">
                    <div class="container">
                      <form role="form-inline">
                        <div class="container">
                        <div class="row">
                        
                          <input class="form-control inputcontact " name="mail" 
                          [(ngModel)]="EmailResetPassword" type="text" email="true" placeholder="E-mail"
                           required  #mailConfirm="ngModel" >
                          <div *ngIf="mailConfirm.invalid && (mailConfirm.dirty || mailConfirm.touched)"
                          class="alert alert-danger">
                              <div *ngIf="mailConfirm.errors.required">
                                Required E-mail
                              </div>
                              <div *ngIf="mailConfirm.errors?.email">
                                Please Provide A Valid Email Address
                              </div>
                             
                           </div>
                         
                      
                      </div>
                      </div>
                      </form>
                    </div>
                  </div>
                  </section>
               
                 
      
                  
                  
                </div>
               
                 
                <div class="modal-footer">
                  <button type="button" class="btn btn-default"  data-dismiss="modal" >Close</button>
                  <button type="submit" class="btn btn-default BtnAddFoodModel" (click)="send_Password_ResetEmail()"  [disabled]="mailConfirm.invalid" data-dismiss="modal"  >Confirm</button>
                </div>
              </div>
              
            </div>
          </div>
      
        </div>
      
      </form>
      <form #signinForm="ngForm">
        <div class="container" >
          
            <!-- Modal Signin In  -->
            <div class="modal fade" id="Signin" role="dialog" >
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h3>SignIn</h3>
                    <button type="button" class="close"  data-dismiss="modal">&times;</button>
                    
                   
                  </div>
                  <div class="modal-body">
                    
      
                    <section class="ContactUs">
                      <div class="DarkFrame">
                      <div class="container">
                      <div class="text-center" >
                       
                          <i class="fa fa-user-o fa-3x  text-center" ></i>
                        </div>
                        
                  
                        <form role="form-inline">
                          <div class="container">
                          <div class="row">
                            <input class="form-control inputcontact" name="UserName" [(ngModel)]="UserName"  required  #UserNamee="ngModel" type="text" placeholder="UserName"   >
                            <div *ngIf="UserNamee.invalid && (UserNamee.dirty || UserNamee.touched)"
                            class="alert alert-danger">
                                <div *ngIf="UserNamee.errors.required">
                                  Required UserName
                                </div>
                               
                             </div>

                            <input class="form-control inputcontact " name="SignInMail" [(ngModel)]="SignInMail" type="text" email="true" required  #SignInMaill="ngModel" placeholder="E-mail"   >
                                <div *ngIf="SignInMaill.invalid && (SignInMaill.dirty || SignInMaill.touched)"
                                class="alert alert-danger">
                                    <div *ngIf="SignInMaill.errors.required">
                                      Required Mail
                                    </div>
                                    <div *ngIf="SignInMaill.errors?.email">
                                      Please Provide A Valid Email Address
                                    </div>
                                  
                                </div>
                            <input class="form-control inputcontact" name="SignInpassword" [(ngModel)]="SignInpassword" required  #SignInpasswordd="ngModel"  minlength="6"  type="password" placeholder="Password"   >
                                  <div *ngIf="SignInpasswordd.invalid && (SignInpasswordd.dirty || SignInpasswordd.touched)"
                                  class="alert alert-danger">
                                      <div *ngIf="SignInpasswordd.errors.required">
                                        Required Password
                                      </div>
                                      <div *ngIf="SignInpasswordd.errors.minlength">
                                        At least 6
                                      </div>
                                    
                                  </div>
                            <input class="form-control inputcontact" name="RePassword" [(ngModel)]="RePassword"  minlength="6"  required  #RePasswordd="ngModel" type="password" placeholder="Confirm Password"   >
                                    <div *ngIf="RePasswordd.invalid && (RePasswordd.dirty || RePasswordd.touched)"
                                    class="alert alert-danger">
                                        <div *ngIf="RePasswordd.errors.required">
                                          Required Confirm Password
                                        </div>
                                        <div *ngIf="RePasswordd.errors.minlength">
                                          At least 6
                                        </div>
                                      
                                    </div>
                            <label class="btn btn-default"> <input type="file"
                              (change)="SelectImg($event)">
                            </label>
                             
                            <button class="btn btn-success" [disabled]="!selectedFiles || !signinForm.valid"
                              (click)="AddImgUser()">Upload</button>
                              
                            
                              <br>
                          <div *ngIf="currentFileUpload" class="progress">
                            
                            <div class="progress-bar progress-bar-info progress-bar-striped"
                              role="progressbar" attr.aria-valuenow="{{percentage}}"
                              aria-valuemin="0" aria-valuemax="100"
                              [ngStyle]="{width:percentage+'%'}">
                              {{percentage}}%</div>
                          </div>

                       </div>
                        </div>
                        </form>
                      </div>
                    </div>
                    </section>
                 
                  </div>
                 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    <button type="submit" class="btn btn-default BtnAddFoodModel" (click)="signin()"  [disabled]="!signinForm.valid || percentage!=100 || load==true " data-dismiss="modal"  >Create</button>
                    <div *ngIf="percentage==100 && load==true">
                      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                      <span >Loading...</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
        
          </div>
        
        </form>


