<ngx-spinner style=" z-index: 999999;" bdColor = "rgba(0,0,0,0.9)" size = "large" color = "#e36c51" type = "square-jelly-box" [fullScreen] = "true"><p style="color: #e36c51; font-size: 20px;" > Loading... </p></ngx-spinner>
<section class="setting">
    <i class="fa fa-cog fa-2x cog-setting " (click)="toggle()"  ></i>
  <div class="colorBox" *ngIf="!isActive">
    <h6>Choose Color</h6>
    <ul class="list-unstyled switch-colors ">
      <li class="blue"  (click)="ChangeColorSite('rgb(85, 185, 244)')" ></li>
      <li class="red"(click)="ChangeColorSite('rgb(204, 64, 74)')" ></li>
      <li class="green" (click)="ChangeColorSite('rgb(99, 197, 88)')"></li>
      <li class="defult" (click)="ChangeColorSite('rgb(227, 108, 81)')" ></li>
     
  
    </ul>
  </div>
  </section>
<nav class="navbar navbar-expand-lg navbar-light   fixed-top " id="navbar" >

  
    <div class="container"> 
      <form class="form-inline my-2 my-lg-0">
        <h1 style="margin-top: 10px;" class="h1FitLogo row" >
          BE <span class="FitLogo" >FIT </span>
        </h1>
      </form> 
    <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
     aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
        <img class="profilephoto"  src="{{UserUrl}}" alt="" *ngIf="CheckLog == true && UserUrl != null">
        <li class="nav-item dropdown" *ngIf="CheckLog == true">
          
          <a style="outline: none;" class="nav-link dropdown-toggle username" href="#" id="navbarDropdown username" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{Username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           
            <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
            
            <a class="dropdown-item" (click)="logout()" >LogOut</a>
          </div>
        </li>
        <a class="nav-item nav-link "  [routerLink]="['']">Home  </a>
        <a class="nav-item nav-link"  [routerLink]="['/foods']">Foods</a>
        <a class="nav-item nav-link"  [routerLink]="['/exrcise']">Exercise</a>
        <a class="nav-item nav-link"  [routerLink]="['/calories']">Calories</a>
        
        <form class="form-inline my-2 my-lg-0">
          <button class="btn login my-2 my-sm-0 form-control "  id="logshow" data-toggle="modal" data-target="#LoginModel" type="submit" *ngIf="CheckLog == false">LogIn</button>
         
        </form>
        
      </div>
    </div>
</div>
  </nav>

<router-outlet></router-outlet>

<div id="ScrollUp" (click)="ScrollUp()" >
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div>
  <form #loginForm="ngForm">
    <div class="container" >
      
        <!-- Modal Log In  -->
        <div class="modal fade" id="LoginModel" role="dialog" >
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h3>Log In</h3>
                <button type="button" class="close"  data-dismiss="modal">&times;</button>
                
               
              </div>
              <div class="modal-body">
                
  
                <section class="ContactUs">
                  <div class="DarkFrame">
                  <div class="container">
                  <div class="text-center" >
                   
                      <i class="fa fa-user-o fa-3x  text-center" ></i>
                    </div>
                    
              
                    <form role="form-inline">
                      <div class="container">
                      <div class="row">
                      
                        <input class="form-control inputcontact " name="mail" [(ngModel)]="email" type="text" placeholder="E-mail" required  #mail="ngModel" >
                        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                        class="alert alert-danger">
                            <div *ngIf="mail.errors.required">
                              Required E-mail
                            </div>
                            <!-- <div *ngIf="mail.errors.email">
                              E-mail Invalid
                            </div> -->
                         </div>
                        <input class="form-control inputcontact" name="password" [(ngModel)]="pass"  minlength="6"  type="password" placeholder="Password" required  #password="ngModel">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                        class="alert alert-danger">
                            <div *ngIf="password.errors.required">
                              Required Password
                            </div>
                            <div *ngIf="password.errors.minlength">
                              Paswword Weak
                            </div>
                         </div>
                         <a class="Create"  data-toggle="modal" data-target="#Signin" data-dismiss="modal" >Create E-mail</a>
                      <a class="forgetPass" data-toggle="modal" data-target="#ConfirmEmail" data-dismiss="modal" > Forget Password ?</a>
                    </div>
                    </div>
                    </form>
                  </div>
                </div>
                </section>
             
               
    
                
                
              </div>
             
               
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                <button type="submit" class="btn btn-default BtnAddFoodModel" (click)="LogIn()"  [disabled]="!loginForm.valid" data-dismiss="modal"  >Log</button>
              </div>
            </div>
            
          </div>
        </div>
    
      </div>
    
    </form>
    <form #ConfirmEmail="ngForm">
      <div class="container" >
        
          <!-- Modal ForgetPassword -->
          <div class="modal fade" id="ConfirmEmail" role="dialog" >
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Forget Password</h3>
                  <button type="button" class="close"  data-dismiss="modal">&times;</button>
                  
                 
                </div>
                <div class="modal-body">
                  
    
                  <section class="ContactUs">
                    <div class="DarkFrame">
                    <div class="container">
                      <form role="form-inline">
                        <div class="container">
                        <div class="row">
                        
                          <input class="form-control inputcontact " name="mail" [(ngModel)]="EmailResetPassword" type="text" placeholder="E-mail" required  #mail="ngModel" >
                          <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                          class="alert alert-danger">
                              <div *ngIf="mail.errors.required">
                                Required E-mail
                              </div>
                             
                           </div>
                         
                      
                      </div>
                      </div>
                      </form>
                    </div>
                  </div>
                  </section>
               
                 
      
                  
                  
                </div>
               
                 
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                  <button type="submit" class="btn btn-default BtnAddFoodModel" (click)="send_Password_ResetEmail()"  [disabled]="!ConfirmEmail.valid" data-dismiss="modal"  >Confirm</button>
                </div>
              </div>
              
            </div>
          </div>
      
        </div>
      
      </form>
      <form #signinForm="ngForm">
        <div class="container" >
          
            <!-- Modal Signin In  -->
            <div class="modal fade" id="Signin" role="dialog" >
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h3>SignIn</h3>
                    <button type="button" class="close"  data-dismiss="modal">&times;</button>
                    
                   
                  </div>
                  <div class="modal-body">
                    
      
                    <section class="ContactUs">
                      <div class="DarkFrame">
                      <div class="container">
                      <div class="text-center" >
                       
                          <i class="fa fa-user-o fa-3x  text-center" ></i>
                        </div>
                        
                  
                        <form role="form-inline">
                          <div class="container">
                          <div class="row">
                            <input class="form-control inputcontact" name="UserName" [(ngModel)]="UserName"  required  #UserNamee="ngModel" type="text" placeholder="UserName"   >
                            <div *ngIf="UserNamee.invalid && (UserNamee.dirty || UserNamee.touched)"
                            class="alert alert-danger">
                                <div *ngIf="UserNamee.errors.required">
                                  Required UserName
                                </div>
                               
                             </div>

                            <input class="form-control inputcontact " name="SignInMail" [(ngModel)]="SignInMail" type="text" required  #SignInMaill="ngModel" placeholder="E-mail"   >
                                <div *ngIf="SignInMaill.invalid && (SignInMaill.dirty || SignInMaill.touched)"
                                class="alert alert-danger">
                                    <div *ngIf="SignInMaill.errors.required">
                                      Required Mail
                                    </div>
                                  
                                </div>
                            <input class="form-control inputcontact" name="SignInpassword" [(ngModel)]="SignInpassword" required  #SignInpasswordd="ngModel"  minlength="6"  type="password" placeholder="Password"   >
                                  <div *ngIf="SignInpasswordd.invalid && (SignInpasswordd.dirty || SignInpasswordd.touched)"
                                  class="alert alert-danger">
                                      <div *ngIf="SignInpasswordd.errors.required">
                                        Required UserName
                                      </div>
                                      <div *ngIf="SignInpasswordd.errors.minlength">
                                        At least 6
                                      </div>
                                    
                                  </div>
                            <input class="form-control inputcontact" name="RePassword" [(ngModel)]="RePassword"  minlength="6"  required  #RePasswordd="ngModel" type="password" placeholder="Confirm Password"   >
                                    <div *ngIf="RePasswordd.invalid && (RePasswordd.dirty || RePasswordd.touched)"
                                    class="alert alert-danger">
                                        <div *ngIf="RePasswordd.errors.required">
                                          Required UserName
                                        </div>
                                        <div *ngIf="RePasswordd.errors.minlength">
                                          At least 6
                                        </div>
                                      
                                    </div>
                            <label class="btn btn-default"> <input type="file"
                              (change)="SelectImg($event)">
                            </label>
                             
                            <button class="btn btn-success" [disabled]="!selectedFiles || !signinForm.valid"
                              (click)="AddImgUser()">Upload</button>
                              
                            
                              <br>
                          <div *ngIf="currentFileUpload" class="progress">
                            
                            <div class="progress-bar progress-bar-info progress-bar-striped"
                              role="progressbar" attr.aria-valuenow="{{percentage}}"
                              aria-valuemin="0" aria-valuemax="100"
                              [ngStyle]="{width:percentage+'%'}">
                              {{percentage}}%</div>
                          </div>

                       </div>
                        </div>
                        </form>
                      </div>
                    </div>
                    </section>
                 
                  </div>
                 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    <button type="submit" class="btn btn-default BtnAddFoodModel" (click)="signin()"  [disabled]="!signinForm.valid || percentage!=100 || load==true " data-dismiss="modal"  >Create</button>
                    <div *ngIf="percentage==100 && load==true">
                      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                      <span >Loading...</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
        
          </div>
        
        </form>