<section class="s1">
  <div class="col-12">
    <div class="row">

        <div class="info col-4">
                    <div class="container">
                        <div class="row text-center " >
                            <div class="divimgPro" aria-hidden="true" data-toggle="modal" (click)="GetImage()" data-target="#ChangeProfilePhoto">
                          
                                  <img   src="{{UserUrl}}" alt="">
                                  <div class="imghover">Change</div>
                             
                            </div>
                            <div class="username" style="width: 60%;margin-left: 20%;" >Type: {{typeUser}}</div>

                            <div class="col-12 username">
                                UserName  : {{Username}}
                                <i class="fa fa-pencil " aria-hidden="true" data-toggle="modal" data-target="#ChangeUserName"></i>

                                <div class="col-12 e-mail" >
                                    {{mail}}
                                </div>
                            </div>
                            
                        </div>
                        

                    </div>
                    <!-- //////////////////////////////change pass/////////////////////////////////////////////// -->

                <div class="changepass">
                  <div class="container text-center">
                    <h2>Change Password</h2>
                      <input class="form-control" [(ngModel)]="oldpass" name="oldpass" type="password" placeholder="Old Password">
                      <input class="form-control" [(ngModel)]="newpass" name="newpass"  type="password" placeholder="New Password">
                      <input class="form-control" [(ngModel)]="renewpass"  name="renewpass" type="password" placeholder="Confirm Password">       
                    <button class="form-control BtnChange text-center" (click)="chanepass()" >Change Password</button>
                  </div>

              </div>

        </div>

        <!-- //////////////////////////////////////////////////////////PLAN//////////////////////////////////////////////////// -->
        <div class="plan col-8" *ngIf="day1.length !=0 || day2.length !=0 || day3.length !=0 || day4.length !=0 || day5.length !=0 || day6.length !=0 || day7.length !=0 || ExSystem.length!=0">
          <h2 >My plane</h2>
          <div class="container text-center" style="padding-left: 24px " *ngIf="day1.length !=0 || day2.length !=0 || day3.length !=0 || day4.length !=0 || day5.length !=0 || day6.length !=0 || day7.length !=0">
            
            <div class="borderstyly" > 
          
            <div class="daytable" *ngIf="day1.length !=0 ">
            <h3 class="day">Day1</h3>
            <table class="table">
              <thead>
                <tr>
                  
                  <th scope="col">Name Meal</th>
                  <th scope="col">Content Meal</th>
                  <th scope="col">Calories </th>
                  <th scope="col">Protein </th>
                  <th scope="col">Carb </th>
                  <th scope="col">Fat </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of day1; let i=index" class="content" >
                  <th  scope="row">{{item.NumMeal}}</th>
                  <div class="nameMealAndAmount" *ngFor="let item2 of item.SelFoods" >{{item2.name}} {{item2.amount}} <span *ngIf="item2.amount>10" >g</span></div>
                  <td>{{item.caloriesOfMeal}}</td>
                  <td>{{item.proteinOfMeal}}</td>
                  <td>{{item.carbOfMeal}}</td>
                  <td>{{item.fatOfMeal}}</td>

                  
                
                
                </tr>
              
              </tbody>
            </table>
          </div>
        

          <div class="daytable" *ngIf="day2.length !=0 ">
            <h3 class="day">Day2</h3>
            <table class="table">
              <thead>
                <tr>
                  
                  <th scope="col">Name Meal</th>
                  <th scope="col">Content Meal</th>
                  <th scope="col">Calories In Meal</th>
                  <th scope="col">Protein </th>
                  <th scope="col">Carb </th>
                  <th scope="col">Fat </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of day2; let i=index" class="content" >
                  <th  scope="row">{{item.NumMeal}}</th>
                  <div *ngFor="let item2 of item.SelFoods" >{{item2.name}} {{item2.amount}} <span *ngIf="item2.amount>10">g</span></div>
                  <td>{{item.caloriesOfMeal}}</td>
                  <td>{{item.proteinOfMeal}}</td>
                  <td>{{item.carbOfMeal}}</td>
                  <td>{{item.fatOfMeal}}</td>
                  
                
                
                </tr>
              
              </tbody>
            </table>
          </div>
          <div class="daytable" *ngIf="day3.length !=0 ">
            <h3 class="day">Day3</h3>
            <table class="table">
              <thead>
                <tr>
                  
                  <th scope="col">Name Meal</th>
                  <th scope="col">Content Meal</th>
                  <th scope="col">Calories In Meal</th>
                  <th scope="col">Protein </th>
                  <th scope="col">Carb </th>
                  <th scope="col">Fat </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of day3; let i=index" class="content" >
                  <th  scope="row">{{item.NumMeal}}</th>
                  <div *ngFor="let item2 of item.SelFoods" >{{item2.name}} {{item2.amount}} <span *ngIf="item2.amount>10">g</span></div>
                  <td>{{item.caloriesOfMeal}}</td>
                  <td>{{item.proteinOfMeal}}</td>
                  <td>{{item.carbOfMeal}}</td>
                  <td>{{item.fatOfMeal}}</td>
                  
                
                
                </tr>
              
              </tbody>
            </table>
          </div>
          <div class="daytable" *ngIf="day4.length !=0 ">
            <h3 class="day">Day4</h3>
            <table class="table">
              <thead>
                <tr>
                  
                  <th scope="col">Name Meal</th>
                  <th scope="col">Content Meal</th>
                  <th scope="col">Calories In Meal</th>
                  <th scope="col">Protein </th>
                  <th scope="col">Carb </th>
                  <th scope="col">Fat </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of day4; let i=index" class="content" >
                  <th  scope="row">{{item.NumMeal}}</th>
                  <div *ngFor="let item2 of item.SelFoods" >{{item2.name}} {{item2.amount}} <span *ngIf="item2.amount>10">g</span></div>
                  <td>{{item.caloriesOfMeal}}</td>
                  <td>{{item.proteinOfMeal}}</td>
                  <td>{{item.carbOfMeal}}</td>
                  <td>{{item.fatOfMeal}}</td>
                  
                
                
                </tr>
              
              </tbody>
            </table>
          </div>
          <div class="daytable" *ngIf="day5.length !=0 ">
            <h3 class="day">Day5</h3>
            <table class="table">
              <thead>
                <tr>
                  
                  <th scope="col">Name Meal</th>
                  <th scope="col">Content Meal</th>
                  <th scope="col">Calories In Meal</th>
                  <th scope="col">Protein </th>
                  <th scope="col">Carb </th>
                  <th scope="col">Fat </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of day5; let i=index" class="content" >
                  <th  scope="row">{{item.NumMeal}}</th>
                  <div *ngFor="let item2 of item.SelFoods" >{{item2.name}} {{item2.amount}} <span *ngIf="item2.amount>10">g</span></div>
                  <td>{{item.caloriesOfMeal}}</td>
                  <td>{{item.proteinOfMeal}}</td>
                  <td>{{item.carbOfMeal}}</td>
                  <td>{{item.fatOfMeal}}</td>
                  
                
                
                </tr>
              
              </tbody>
            </table>
          </div>
          <div class="daytable" *ngIf="day6.length !=0 ">
            <h3 class="day">Day6</h3>
            <table class="table">
              <thead>
                <tr>
                  
                  <th scope="col">Name Meal</th>
                  <th scope="col">Content Meal</th>
                  <th scope="col">Calories In Meal</th>
                  <th scope="col">Protein </th>
                  <th scope="col">Carb </th>
                  <th scope="col">Fat </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of day6; let i=index" class="content" >
                  <th  scope="row">{{item.NumMeal}}</th>
                  <div *ngFor="let item2 of item.SelFoods" >{{item2.name}} {{item2.amount}} <span *ngIf="item2.amount>10">g</span></div>
                  <td>{{item.caloriesOfMeal}}</td>
                  <td>{{item.proteinOfMeal}}</td>
                  <td>{{item.carbOfMeal}}</td>
                  <td>{{item.fatOfMeal}}</td>
                  
                
                
                </tr>
              
              </tbody>
            </table>
          </div>
          <div class="daytable" *ngIf="day7.length !=0 ">
            <h3 class="day">Day7</h3>
            <table class="table">
              <thead>
                <tr>
                  
                  <th scope="col">Name Meal</th>
                  <th scope="col">Content Meal</th>
                  <th scope="col">Calories In Meal</th>
                  <th scope="col">Protein </th>
                  <th scope="col">Carb </th>
                  <th scope="col">Fat </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of day7; let i=index" class="content" >
                  <th  scope="row">{{item.NumMeal}}</th>
                  <div *ngFor="let item2 of item.SelFoods" >{{item2.name}} {{item2.amount}} <span *ngIf="item2.amount>10">g</span></div>
                  <td>{{item.caloriesOfMeal}}</td>
                  <td>{{item.proteinOfMeal}}</td>
                  <td>{{item.carbOfMeal}}</td>
                  <td>{{item.fatOfMeal}}</td>
                  
                
                
                </tr>
              
              </tbody>
            </table>
          
          </div>


              <button style="margin-bottom: 2%;" (click)="AddAnotherDay()" class="anotherDay" *ngIf="day1.length == 0 || day2.length ==  0 || day3.length == 0 || day4.length == 0 || day5.length == 0 || day6.length == 0 || day7.length == 0">Add Another Day</button>
              <br>
              <span style="opacity: 0.6;
              font-family: Andale Mono;"> If You Add The Same Day Diet The Old Day Will Remove </span>
          </div>
          


        </div>
        <div class="container text-center">
          
          <div class="borderstylyEX" > 
        
          <div class="daytable"  *ngIf="ExSystem.length!=0" >
          <h3 class="day">Exercise:{{ExSystemName}}</h3>
          <table class="table">
            <thead>
              <tr *ngFor="let item of ExSystem; let i=index">
                <th scope="col">{{item.day}}</th>
                <th (click)="ShowDataEx(i)" class="nameday" data-toggle="modal" data-target="#EXdata" scope="col">{{item.nameDay}}</th>
              </tr>
            </thead>

          
          </table>
          

        </div>
        <span style="opacity: 0.6;
        font-family: Andale Mono;">If You Add Another Exrecise The Old Will Remove </span>
    

        
      
      

      </div>
      </div>

      </div> 
      <div   class="emptyplan col-8 text-center"    *ngIf="day1.length ==0 && day2.length ==0 && day3.length ==0 && day4.length ==0 && day5.length ==0 && day6.length ==0 && day7.length ==0 && ExSystem.length==0 " >
        <button style="margin-top: 50%;
        width: 40%;
        margin-left: 30%;
        color: white;
        background:var(--maincolor);;
        " 
        class="form-control CreateYourPlan"
        (click)="createplan()"
        >
          Create Your Plan

        </button>
      
      </div>
    </div>
  </div>
</section>














  <!-- //////////////////////////////////////change Profile photo//////////////////// -->
  <div class="modal fade" id="ChangeProfilePhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Profile Photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label class="btn btn-default"> <input type="file"
                (change)="SelectImg($event)">
              </label>
               
              <button class="btn btn-success" [disabled]="!selectedFiles"
                              (click)="DeleteProfileImg()">Upload</button>
                
              
              
            <div *ngIf="currentFileUpload" class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar" attr.aria-valuenow="{{percentage}}"
                aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{width:percentage+'%'}">
                {{percentage}}%</div>
            </div>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  (click)="updateProfilePhoto()" [disabled]="percentage!=100 || load==true">Save</button>
          <div *ngIf="percentage==100 && load==true">
          <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
          <span >Loading...</span>
        </div>
        </div>
      </div>
    </div>
  </div>
      <!-- ///////////////////////change UserName//////////////////////// -->
      <div class="modal fade" id="ChangeUserName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Change UserName</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input class="form-control" [(ngModel)]="ChangeUserName"  type="text" placeholder="New UserName">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="updateUserName()">Save</button>
            </div>
          </div>
        </div>
      </div> 
      <!-- ///////////////////////////////// showEX/////////////////////////////////////// -->
      <div class="container" >
      
            <!-- Modal -->
            <div class="modal fade" id="EXdata" role="dialog" >
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h3>{{NameDayExSystemaData}}</h3>
                    <button type="button" class="close"  data-dismiss="modal">&times;</button>
                    
                  
                  </div>
                  <div class="modal-body text-center" *ngFor="let item of this.ExSystemaData; let i=index">
                    
                    <div class="NameExEdite">
                      EXRECISE{{i+1}}:  {{item.name}}
                    </div>
                    <img class="photoExselect " src="{{item.photo}}" alt="NoPhoto">
                    
                  
                    
        
        
                </div>
                
              </div>
            </div>
        
          </div>
          
     </div>
   